/*Styles*/
:root{
    --secundary: #0097a7
}


/*  Configuración general del proyecto  */
html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}

*, *:before, *:after {
    box-sizing: inherit;
  }

body{
    font-size: 16px; /*1rem = 10px*/
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    background-image: linear-gradient(to top, #DFE9F3 0%, white 100%);
}

h1{
    font-size: 3.8rem;
}

h2{
    font-size: 2.8rem;
}

h3{
    font-size: 1.8rem;
}

h1,h2,h3{
    text-align: center;
}

p{
    text-align: justify;
}

.shadow{
    -webkit-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.48);
    -moz-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.48);
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.48);
    background-color: white;
    padding: 3rem;
    border-radius: 2rem;
}

/*          -- Configuraciones especificas del proyecto  */

.container{
    max-width: 120rem;
    margin: 0 auto;
}

.title{
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
}

/*Navegador principal*/
.main-nav{ 
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .main-nav {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.main-nav a{ /*Enlaces del navegador principal*/
    display: block;
    text-align: center;
    padding: 1rem;
    color: white;
    font-size: 1.8rem;
    text-decoration: none;
    font-weight: bold;
}

.main-nav a:hover{ /*Enlaces del navegador principal cuando el mouse está encima*/
    background-color: white;
    color: var(--secundary);
    font-size: 1.8rem;
    text-decoration: none;
    font-weight: bold;
}

.main-nav_bg{
    background-color: var(--secundary);
}

/*Seccion del titulo principal*/
.main-title{
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 45rem;
    text-align: center;
    position: relative;
    margin-bottom: 2rem;
}

.main-title_content{
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Botón*/
.button{
    background-color: var(--secundary);
    color: white;
    margin-top: 1rem;
    padding: 1rem 3rem;
    border: none;
    border-radius: 0.5rem;
    width: 90%;

    font-size: 2.3rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

@media (min-width: 480px) {
    .button{
        width: auto;
    }
}

.button:hover{
    cursor: pointer;
}

.button_send .button{
    width: 100%;
    align-items: center;
}
/*Servicios*/

.services,.main-nav,.form{
    scroll-snap-align: center;
    scroll-snap-stop: always;
}
@media (min-width: 768px) {
    .services{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
    }
}

.service{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service h3{
    font-size: 2.2rem;
    font-weight: normal;
    color: var(--secundary);
}

.service p{
    line-height: 1.5;
    text-align: center;
}

.service .icons{
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    background-color: var(--secundary);
    display: flex; /*Diseño estilo mediante cajas*/
    justify-content: center; /*Justifica el elemento horizontalmente*/
    align-items: center; /*Justifica el elemento verticalmente*/
}

/*Formulario de contacto*/
.form{
    background-color: whitesmoke;
    width: min(80%, 100%); /*Utiliza el valor minimo por defecto*/
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;

}

.form fieldset{
    border: none;
}

.form legend{
    font-size: 2.5rem;
    font-weight: normal;
    color: var(--secundary);
    text-align: center;
    margin-bottom: 2rem;
}

.form_fields{
    width: 100%;
}

.field{
    margin-bottom: 1rem;
}

.field textarea{
    height: 20rem;
}

.field label{
    color: var(--secundary);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}

.form_input{
    height: 4rem;
    width: 100%;
    padding-left: 1rem;
    border: none;
    border-radius: .5rem;
}

/*Footer*/
.footer p{
    text-align: center;
}