/*Styles*/
:root{
    --secundary: #0097a7
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
  }

body{
    font-size: 16px; /*1rem = 10px*/
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.container{
    max-width: 120rem;
    margin: 0 auto;
}

.title{
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
}

.main-nav{ /*Navegador principal*/
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .main-nav {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.main-nav a{ /*Enlaces del navegador principal*/
    display: block;
    text-align: center;
    padding: 1rem;
    color: white;
    font-size: 1.8rem;
    text-decoration: none;
    font-weight: bold;
}


.main-nav a:hover{ /*Enlaces del navegador principal cuando el mouse está encima*/
    background-color: white;
    color: var(--secundary);
    font-size: 1.8rem;
    text-decoration: none;
    font-weight: bold;
}

.main-nav_bg{
    background-color: var(--secundary);
}

.main-title{
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 45rem;
    text-align: center;
    position: relative;
}

.main-title_content{
    position: absolute;
    width: 100%;
    height: 100%;
}